# Ignore VSCode Debugging Plugin Stuff
.vscode/

# Ignore JSHint Config
.jshintrc

#Ignore Node Modules 
node_modules/

#Ignore Node Debug Logs
npm-debug.log*

#Package Lock
package-lock.json

#Folder Directory Icons
.directory