# Ignore VSCode Debugging Plugin Stuff
.vscode/

# Ignore JSHint & ESLint Config
.jshintrc
.eslintrc.js

#Ignore Node Modules 
node_modules/

#Ignore Node Debug Logs
npm-debug.log*

#Package Lock
package-lock.json

#Npm Stuff
.npmrc