// ==========================================================================
// Buttons
// ==========================================================================

.btn {
  @extend %btn-default;
  width: 100px;

  &:hover {
    @extend %btn-hover;
  }

  & + & {
    margin-left: em(15px);
  }

  // Flex Button
  @include m(flexible) {
    @extend %btn-default;

    &:hover {
      @extend %btn-hover;
    }

    @include mq(med) {
      align-self: flex-start;
      margin-top: 0;
    }
  }

  @include m(small) {
    @extend %btn-default;
    font-size: 13.3333px;

    &:hover {
      @extend %btn-hover;
    }
  }
}