// ==========================================================================
// Extends
// ==========================================================================

// Navigation
// ----------

%nav-item-default {
  text-align: center;

  &:last-of-type {
    order: -1;
  }
}

.nav-item-link {
  @extend .header-4;
  display      : inline-block;
  padding      : em(8px, 15px) em(15px, 15px);
  transition   : color $trns-duration--default;
}

%nav-link-hover {
  color       : palette(blue, dark);
  border-color: palette(blue, dark);
}


// Titles
// ------

%title-default {
  position: absolute;
  left    : em(10px);
  right   : em(10px);
  color   : palette(white); // This is so our icons inherit from the base parent color.
}


// Headlines
// ---------

%headline-primary {
  font-size     : em(32px);
  font-weight   : $font-weight--light;
  color         : $color-accent;
  text-transform: uppercase;
}

%headline-secondary {
  font-size     : em(24px);
  color         : $color-secondary;
  text-transform: uppercase;
  border-bottom : 1px solid palette(white, x-opaque);
  margin        : em(7px, 24px) 0;  
}


// Text Styles
// -----------

%text-important {
  color         : $color-accent;
  font-family   : $font-stack-primary;
  text-transform: uppercase;
}

%text-content {
  font-family: $font-stack-primary;
  color      : $color-secondary;
}


// Border/Outline
// --------------

%border-outline {
  border : 1px solid palette(white, x-opaque);
  outline: 1px solid palette(black);
}

%border-outline-reverse {
  @include shadow(inset);
  border : 1px solid palette(black);
  outline: 1px solid palette(white, x-opaque);
}


// Input
// -----

%input-default {
  padding: em(12px);
  border : 1px solid palette(gray, x-light);
  color  : palette(gray, dark);
}


// Section
// -------

%section-desc-default {
  color: palette(gray, light);
  margin-top: 0;
}

// Hover
// -----

%hover-shadow {
  box-shadow: 0 0 0 1px rgba(232,232,232,.36), 0 12px 24px 0 rgba(202,202,202,.22);
}

%hover-shadow-lt {
  box-shadow: 0 0 0 1px rgba(232,232,232,.36), 0 2px 4px 0 rgba(202,202,202,.22);
}


// ul / li 
// -------

%list-default {
  align-items  : center;
  padding      : em(8px) em(15px);  
  color        : palette(gray, light);
  transition   : all $trns-duration--med;
  border-radius: $br;
}

%list-hover {
  color: palette(black, opaque);
}