// ==========================================================================
// Forms
// ==========================================================================

.form {
  // Labels
  @include e(label) {
    @extend .header-3;
    color: palette(blue);
    display   : block;
    margin    : em(10px) 0;
    text-align: center;

    @include mq(med) {
      text-align: left;

      &:first-of-type {
        margin-top: 0;
      }
    } 

    // form__label--boxed - Radio Buttons
    @include m(boxed) {
      @extend %input-default;
      @extend .content-4;
      display    : inline-block;
      width      : 100px;
      margin     : em(5px);
      font-weight: 300;
      text-align : center;
      transition : color $trns-duration--med,
                   background-color $trns-duration--med,
                   border-color $trns-duration--default;

      &:hover {
        cursor: pointer;
      }

      @include mq(med) {
        margin-left: 0;

        & ~ & {
          margin: em(5px);
        }
      }
    }  
  }

  // Fieldsets
  @include e(fieldset) {

    &:last-of-type {
      margin: em(20px) 0 0 0;
    }

    @include mq(med) {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  // Radio Buttons
  @include e(radio) {
    display: none;

    &:checked + label {
      color           : palette(white);
      background-color: palette(blue);
      border-color    : palette(blue);
    }
  }
  
  // Input
  @include e(input) {
    border-bottom: 1px solid palette(gray, x-light);  
    width: 100%;
    @extend .content-4;
    font-weight: 300;
    color: palette(gray, dark);
  }

}


#select-box {
  position  : absolute;
  top       : 12px;
  left      : 0;
  font-size : 1em;
  background: none;
  color     : palette(gray);
}

.member-icon {
  margin-top: em(117.4px);
}