// ==========================================================================
// Headlines
// ==========================================================================

.headline {
  &-primary {
    @extend %headline-primary;

    @include m(grouped) {
      @extend %headline-primary;
      margin-top: 0;
    }
  }

  &-secondary {
    @extend %headline-secondary;

    @include m(box-inset) {
      @extend %headline-secondary;
      @extend %border-outline-reverse;
      padding: em(7px, 24px);
    }
  }
}


// Website Title
// -------------

.title {
  font-size     : em(48px);
  text-transform: uppercase;
  margin        : 0;
  color         : $color-primary;

  @include mq(med) {
    font-size: em(60px); /* 20% Increase */
  }

  &-subtext {
    font-size     : em(24px);
    color         : $color-tertiary;
    text-transform: lowercase;
    margin        : 0;

    @include mq(med) {
      font-size: 30px; /* 20% Increase */
    }
  }
}