// ==========================================================================
// Imagery
// ==========================================================================

// Logo Image
// ----------

#logo {
  max-width : 75px;

  @include mq(med) {
    max-width: 150px;
  }
}


// Music Platform Icons
// --------------------

.platform {
  background-size: contain;
  opacity        : .5;
  transition     : opacity $trns-duration--default, transform $trns-duration--default;

  &:not(:last-of-type) {
    margin-right: em(10px);
  }

  &:hover {
    transform: scale(1.25);
    opacity  : 1;
  }


  @each $platform, $link in $icons {
    $size: 0px;
    &.#{$platform} {
      @if $platform == itunes or $platform == soundcloud or $platform == youtube {
        $size: 48px;
      }
      @else {
        $size: 24px;
      }
      @include bg-image(#{$link}, $size, $size, inline-block);
    }
  }
}


// Tour Icon
// ---------

.tour {
  @include bg-image('layout/concert-poster.svg', 150px, 150px, inline-block);
  background-size: contain;
}

// Caption Ticket Icons
// --------------------

.caption__img {
  width: 33px;
  float: left;

  &:last-of-type {
    float: right;
  }
}


// Survey
// ------

#survey,
#newsletter {
  @include mq(med) {
    height: 300px;
  }
}


// Section Icons
// -------------

.icon {
  @include e(album) {
    @include bg-image('layout/vinyl.svg', 150px, 150px, inline-block);
  }

  @include e(info) {
    @include bg-image('layout/info.svg', 100px, 100px, inline-block);
  }
}


// Album Formats
// -------------

.digital::before {
  background-image: url('#{$path--rel}/icons/download.svg');
}

.cd::before {
  background-image: url('#{$path--rel}/icons/compact-disc.svg');
}

.lp::before {
  background-image: url('#{$path--rel}/icons/turntable.svg');
}


// Band Members
// ------------

.drums::before {
  background-image: url('#{$path--rel}/icons/drum.svg');
}

.guitar::before {
  background-image: url('#{$path--rel}/icons/electric-guitar.svg');
}

.bass::before {
  background-image: url('#{$path--rel}/icons/bass-guitar.svg');
}

.vocals::before {
  background-image: url('#{$path--rel}/icons/microphone.svg');
}