// ==========================================================================
// Page Landing
// ==========================================================================

.landing {
  @extend %text-center;

  // IE/Edge Specific Fixes
  // ----------------------
  @include mq(edge) {
    width : 100%;
    height: 100vh;
  }

  @include mq(ie11) {
    width : 100%;
    height: 100vh;
  }

  // landing--stationary
  @include m(static) {
    @extend %text-center;
    // @include bg-image('background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");', 100%, 350px);
    @include shadow(inset);
    background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png");
    background-color: palette(blue, dark);
    // background-position: center bottom;
    // background-repeat: repeat-x;

    @include mq(med) {
      min-height: 470px; 
    }

    @include mq(xlg) {
      background-size: cover;
    }
  }

  // landing__video
  @include e(video) {
    @extend %border-outline-reverse;
    width     : 100%;
    height    : 100vh;
    object-fit:  cover;

    @include mq(med) {
      object-fit: fill;
    }

    // IE/Edge Specific Fixes
    // ----------------------
    @include mq(edge) {
      width:  100%;
      height: 100%;
    }

    @include mq(ie11) {
      width:  100%;
      height: 100%;
    }   
  }
}