// ==========================================================================
// Page Landing
// ==========================================================================

.landing {
  @extend %text-center;

  // landing--stationary
  @include m(static) {
    @extend %text-center;
    @extend %border-outline-reverse;
    @include bg-image('layout/tours_new--ultra-slim.jpg', 100%, 350px);
    background-position: center bottom;

    @include mq(med) {
      min-height: 470px; 
    }

    @include mq(xlg) {
      background-size: cover;
    }
  }

  // landing__video
  @include e(video) {
    @extend %border-outline-reverse;
    width      : 100%;
    height     : 100vh;
    object-fit : cover;
    font-family: 'object-fit: cover;';

    @include mq(med) {
      object-fit: fill;
      font-family: 'object-fit: fill;';
    }
  }
}