// ==========================================================================
// Page Landing
// ==========================================================================

.landing {
  @include shadow(bottom);
  display        : flex;
  justify-content: center;
  align-items    : center;
  text-align     : center; 
  height         : 100vh;
  background-color: #000; // Fallback
  background:
    linear-gradient(to top, transparent 0%, #000 95%),    /* Gradient        */
    url('#{$path--rel}/layout/test.jpg')                    /* Image           */
    center 85% / cover                                      /* Position & Size */
    no-repeat                                               /* Repeat          */
    fixed;

  // IE/Edge Specific Fixes
  @include mq(edge) { width : 100%; }
  @include mq(ie11) { width : 100%; }
}