// ==========================================================================
// List
// ==========================================================================

.list {
  @include e(item) {
    @extend %list-default;

    @include m(flex) {
      @extend %list-default;
      @extend .flex;
      margin: em(10px);

      &:hover {
        @extend %list-hover;
        cursor: help;

        & > .list__tag {
          background-color: palette(green);
        }
      }
    }
  }

  @include e(tag) {
    @extend %text-center;
    display         : inline-block;
    width           : 65px;
    font-size       : em(12px);
    padding         : em(5px) em(7px);
    margin-left     : em(10px, 12px);
    color           : palette(white);
    background-color: palette(blue);
    border-radius   : $br;
    transition      : background-color $trns-duration--default;
  }
}