// ==========================================================================
// List
// ==========================================================================

.list {
  li {
    @extend .flex;
    align-items  : center;
    padding      : em(8px) em(15px);  
    color        : palette(gray, light);
    transition   : all $trns-duration--med;
    border-radius: 21px;

    &:hover {
      cursor: help;
      background-color: #f5f5f5;
      color: palette(black, opaque);
    }

    // @include pseudo(before, 20.281px, 20.281px) {
    //   margin-right: em(8px);
    // }
  }

  @include e(tag) {
    @extend %text-center;
    display         : inline-block;
    width           : 65px;
    font-size       : em(12px);
    padding         : em(5px) em(7px);
    margin-left     : auto;
    color           : palette(white);
    background-color: palette(blue);
    border-radius   : $br * 4;
    transition      : background-color $trns-duration--default;
  }
}