// ==========================================================================
// Navigation
// ==========================================================================

// Navbar [Container]
// ------------------
.navbar {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  z-index         : 1;
  background-color: transparent;
  transition      : background-color $trns-duration--default;
}


// Nav [UL]
// --------

.nav__item--alt a {
  position: relative;

  &:before {
    content   : '';
    position  : absolute;
    bottom    : 0;
    left      : 0;
    width     : 100%;
    height    : 0;
    background: palette(green);
    transition: height $trns-duration--default linear;
    z-index   : -1;
  }

  &:hover {
    &:before {
      height: 100%;
    }
  }
}

.nav {
  @include e(item) {
    @extend %nav-item-default;
    a {
      @extend .nav-item-link;
      color: palette(gray, bg);

      // hover
      &:hover {
        color: palette(green);
      }
    }

    // nav__item--alt
    @include m(alt) {
      @extend %nav-item-default;
      a {
        @extend .nav-item-link;
        color: palette(gray, bg);

        // hover
        &:hover {
          color: palette(white);
        }
      }
    }
  }
}