// ==========================================================================
// Navigation
// ==========================================================================

// Navbar [Container]
// ------------------
.navbar {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  padding         : em(17.5px) em(7px);
  z-index         : 1;
  background-color: transparent;
  border          : 1px solid palette(black, m-opaque);
  transition      : background-color $trns-duration--default,
                    border-color $trns-duration--default;
  background-color: palette(black, m-opaque);
}


// Nav [UL]
// --------
.nav {
  justify-content: space-around;

  @include e(item) {
    @extend %nav-item-default;
    a {
      @extend .nav-item-link;
      color: palette(white);

      // hover
      &:hover {
        @extend %nav-link-hover;
      }
    }

    // nav__item--alt
    @include m(alt) {
      @extend %nav-item-default;
      a {
        @extend .nav-item-link;
        color: palette(gray, dark);

        // hover
        &:hover {
          @extend %nav-link-hover;
        }
      }
    }
  }
}

#page-survey,
#page-tours {
  width: 80px;
}