// ==========================================================================
// Sections
// ==========================================================================

.section {
  @extend %text-center;
  border-bottom : 1px solid palette(gray, x-light);
  padding-bottom: em(60px);
  margin-bottom : em(60px);

  &:last-of-type {
    margin-bottom: 0;
  }
  
  // section__title
  @include e(title) {
    color: palette(gray, dark);
    margin: 0;
    // section__title--info
    @include m(info) {
      margin-bottom: em(10px, 19px);
      color: palette(blue);
    }
  }
  // section__desc
  @include e(desc) {
    @extend %section-desc-default;

    @include m(justified) {
      @extend %section-desc-default;
      text-align: justify;
    }
  }
  // section__icon
  @include e(icon) {
    @include m(album) {
      @include bg-image('layout/vinyl.svg', 150px, 150px, inline-block);
      margin-bottom: em(10px);
    }

    @include m(info) {
      @include bg-image('layout/info.svg', 100px, 100px, inline-block);
      margin-bottom: em(10px);
    }
  }
  // section__album
  @include e(img) {
    @include shadow(bottom);
    padding      : em(10px);
    border       : 1px solid palette(gray, x-light);
    border-radius: $br;

    @include mq(med) {
      max-width: 400px;
    }
  }
  // section__platforms
  @include e(platforms) {
    margin-bottom: em(50px);
  }

  // section__list
  @include e(list) {
    @extend .flex;
    color: palette(gray);

    li {
      @extend .flex;
      flex-direction: column;
      flex          : 1 per-line(3, $gutter);
      align-items   : center;
      padding       : em(8px) em(15px);
      margin        : $gutter;
      border        : 1px solid transparent;
      border-radius : $br;
      transition    : border-color $trns-duration--default;

      &:hover {
        cursor      : pointer;
        border-color: palette(gray, x-light);
      }

      &::before {
        @extend %pseudo-default-before;
      }
    }
  }

  @include e(about-the-band) {
    @extend .flex;

    .wrap {
      $gutter: 20px;
      padding: em(8px) em(15px);
      flex  : 1 per-line(2, $gutter);
      margin: $gutter;

      @include mq(med) {
        flex-basis: per-line(3, $gutter);
      }
    }
  }

  .btn {
    max-width: 250px;
    margin   : em(30px, 18px) auto;
  }
}

.about {
  transform: translate3d(0, 60px, 0);
  opacity  : 0;
}