// ==========================================================================
// Tables
// ==========================================================================

.table {
  @extend %border-outline;
  @extend .centered;
  font-family   : $font-stack-secondary;
  color         : $color-secondary; 
  border-spacing: em(20px);

  // th
  th {
    @extend %border-outline-reverse;
    padding: em(7px);
    width  : 33%;
  }

  tr {

    &:hover {
      cursor          : help;
      color           : $color-accent;

      & td {
        @extend %border-outline-reverse;
      }
    }
  }

  // td
  td {
    border     : 1px solid transparent;
    outline    : 1px solid transparent;
    padding    : em(8px);
  }
}