// ==========================================================================
// Tables
// ==========================================================================

.table {
  @extend %border-outline;
  @extend .centered; 
  border-spacing: em(20px);

  // Caption
  caption {
    @extend %text-important;
    @extend %border-outline;
    @include shadow(bottom);
    padding       : em(5px);
    letter-spacing: em(2px);
  }

  // th
  th {
    @extend %text-important;
    @extend %border-outline-reverse;
    width  : 33%;
    padding: em(7px);
  }

  tr {
    &:hover {
      cursor: help;

      & td {
        @extend %border-outline-reverse;
        color: $color-accent;
      }
    }
  }

  // td
  td {
    @extend %text-content;
    border : 1px solid transparent;
    outline: 1px solid transparent;
    padding: em(8px);
  }
}