// ==========================================================================
// Page Title
// ==========================================================================

.title {
  @extend %title-default;
  top: 25%;

  // title--static
  @include m(static) {
    @extend %title-default;
    top: 9%;
  }

  // title__name
  @include e(name) {
    font-size     : em(48px);
    text-transform: uppercase;
    margin        : 0;
    color         : $color-secondary;

    @include mq(med) {
      font-size: em(60px); /* 20% Increase */
    }
  }

  // title__subtext
  @include e(subtext) {
    font-size     : em(24px);
    color         : $color-tertiary;
    text-transform: lowercase;
    margin        : 0;

    @include mq(med) {
      font-size: 30px; /* 20% Increase */
    }
  }

  // title__chevron-down
  @include e(chevron-down) {
    width     : 56px;
    margin-top: em(50px);
    transition: transform $trns-duration--default;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
    }
  } 
}