// ==========================================================================
// Page Title
// ==========================================================================

.title {
  @extend %title-default;
  top: 25%;

  // title--static
  @include m(static) {
    @extend %title-default;
    top: 9%;
  }

  // title__name
  @include e(name) {
    @extend .header-1;
    text-transform: uppercase;
    margin        : 0;
    color         : palette(white);
  }

  // title__subtext
  @include e(subtext) {
    @extend .header-2;
    color         : palette(red);
    text-transform: lowercase;
    margin        : 0;
  }
}

#scrollDown {
  margin-top   : em(20px, 64px);
  color        : palette(white);
  transition   : border-color $trns-duration--med;
  animation    : bounce 1.5s infinite;
  border-bottom: 2px solid transparent;

  &:hover {
    cursor      : pointer;
    border-color: palette(white);
  } 
}