#member {
  // Icon
  &-icon {
    max-width: em(150px);
    border-bottom: 1px solid palette(black);
  }
  // Name
  &-name {
    font-weight: bold;
  }
  // Info
  &-info {
    margin-bottom: em(50px);
  }
  // About
  &-about {
    color: palette(gray, med);
    margin-bottom: 0;
  }
  // Location
  &-location {
    margin-left: 0;
    color: palette(blue, med);
    font-size: em(17.6px);
  }
}

// Member interests

%member-interests-li {
  display      : inline-block;
  padding      : em(4px) em(12px);
  margin-bottom: em(5px);
  border-radius: $br;
  color: palette(white);
}

#member-interests {
  // Movies
  &-movies {
    margin-bottom: em(15px);
    li {
      @extend %member-interests-li;
      background-color: palette(blue, med);
    }
  }
  // Foods
  &-foods {
    margin-bottom: em(15px);
    li {
      @extend %member-interests-li;
      background-color: palette(red, dark);
    }
  }
  // Games
  &-games {
    li {
      @extend %member-interests-li;
      background-color: palette(green, dark);
    }
  }
}