// ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Color Variables
// ---------------------------

// Basic
$white     : #fff;
$black     : #000;
$grey      : #999;

// Layout
$onyx      : #343A3F;
$queen-blue: #3E6990;
$aquamarine: #63C7B2;
$isabelline: #EBEBEB;

// Success/Error
$rusty-red : #DB324D;
$ufo-green : #2DD881;


// Usable Color Variables
// ----------------------
$color-primary  : $onyx;
$color-secondary: $isabelline;
$color-tertiary : $queen-blue;
$color-accent   : $aquamarine;

$color-success  : $ufo-green;
$color-error    : $rusty-red;


// Color Palette Modifiers
// -----------------------

$color-palette: (
  white: (
    x-opaque: rgba($white, .1),
    opaque  : rgba($white, .6),
    base    : $white
  ),
  black: (
    x-opaque: rgba($black, .1),
    opaque  : rgba(black, .6),
    base    : $black
  ),
  grey: (
    base: $grey
  ),
  onyx: (
    x-opaque: rgba($onyx, 0.1),
    opaque  : rgba($onyx, 0.5),
    base    : $onyx
  )
);


// Font Vars
// ---------

$font-url--google    : 'https://fonts.googleapis.com/css?family=Cantarell:400,700|Open+Sans+Condensed:300,700';
$font-stack-primary  : 'Open Sans Condensed', sans-serif;
$font-stack-secondary: 'Cantarell', sans-serif;

$base__font-size  : 16px;
$base__line-height: 24px;

$font-weight--light: 300;
$font-weight--bold : 700;


// Media Query Breakpoints
// -----------------------

$brk-md  : '(min-width: 840px)';
$brk-lg  : '(min-width: 1050px)';
$brk-xlrg: '(min-width: 2561px)';


// Icons
// -----

$icons: (
  itunes    : 'platforms/itunes.svg',
  soundcloud: 'platforms/soundcloud.svg',
  youtube   : 'platforms/youtube.svg',
  twitter   : 'social-media/twitter.svg',
  instagram : 'social-media/instagram.svg',
  facebook  : 'social-media/facebook.svg'
);


// Miscellaneous
// -------------

// Shadows
$shadows: (
  all   : 0 0 20px,
  inset : inset 0 0 20px,
  top   : 0 -10px 20px -5px,
  bottom: 0 10px 20px -5px,
  left  : -10px 0 20px -5px,
  right : 10px 0 20px -5px
);

// Max Width
$content-max-width: 1200px;

// Transition Duration
$trns-duration--default: 250ms;

// Image Path
$path--rel: '../img';