  // ==========================================================================
// Global Config
// ==========================================================================

// Descriptive Color Variables
// ---------------------------



// Layout
$onyx      : #343A3F;
$queen-blue: #3E6990;
$aquamarine: #63C7B2;
$isabelline: #EBEBEB;

// New Layout
// ----------

// Basic
$white     : #fff;
$black     : #000;

// Reds
$froly         : #F46B70;

// Blues
$malibu        : #71b6fb;
$picton-blue   : #4EA6EC;
$azure-radiance: #0B88EE;

// Grays
$alto          : #dedede;
$gray-chateau  : #9DA2A6;
$oslo-gray     : #868C91;
$cape-cod      : #404447;


// Success/Error
$rusty-red : #DB324D;
$ufo-green : #2DD881;


// Usable Color Variables
// ----------------------
$color-primary  : $onyx;
$color-secondary: $isabelline;
$color-tertiary : $queen-blue;
$color-accent   : $aquamarine;

$color-success  : $ufo-green;
$color-error    : $rusty-red;


// Color Palette Modifiers
// -----------------------

$color-palette: (
  // Basic
  white: (
    x-opaque: rgba($white, .1),
    opaque  : rgba($white, .7),
    base    : $white
  ),
  black: (
    x-opaque: rgba($black, .1),
    m-opaque: rgba($black, .25),
    opaque  : rgba(black, .6),
    base    : $black
  ),
  // Layout
  red: (
    base : $froly
  ),
  blue: (
    light: $malibu,
    base : $picton-blue,
    dark : $azure-radiance
  ),
  gray: (
    x-light: $alto,
    light  : $gray-chateau,
    base   : $oslo-gray,
    dark   : $cape-cod
  ),
);


// Font Vars
// ---------

$font-url--google    : 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
$font-stack-primary  : Roboto, sans-serif;

$base__font-size  : 16px;
$base__line-height: 24px;

$font-weight--light : 300;
$font-weight--normal: 400;
$font-weight--medium: 500;


// Media Query Breakpoints
// -----------------------

$brk-md  : '(min-width: 840px)';
$brk-lg  : '(min-width: 1050px)';
$brk-xlrg: '(min-width: 2561px)';


// Icons
// -----

$icons: (
  itunes    : 'platforms/itunes.svg',
  soundcloud: 'platforms/soundcloud.svg',
  youtube   : 'platforms/youtube.svg',
  twitter   : 'social-media/twitter.svg',
  instagram : 'social-media/instagram.svg',
  facebook  : 'social-media/facebook.svg'
);

// Layout
// ------

// Max Width
$content-max-width: 1200px;

// Gutter
$gutter: 10px;


// Miscellaneous
// -------------

// Shadows
$shadows: (
  all   : 0 0 20px,
  inset : inset 0 0 20px,
  top   : 0 -10px 20px -5px,
  bottom: 0 10px 20px -5px,
  left  : -10px 0 20px -5px,
  right : 10px 0 20px -5px
);

// Transition Duration
$trns-duration--default: 250ms;
$trns-duration--med    : 350ms;

// Image Path
$path--rel: '../img';

// Border Radius
$br: 3px;