// ==========================================================================
// Animation
// ==========================================================================

// Keyframes
// ---------

@keyframes slide {
  100% {
    transform: translate3d(0, 0, 0);
    opacity  : 1;
  }
}

@keyframes grow {
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  50% {
    transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce--alt {
  50% {
    transform: translate3d(0, 30px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
}

// Animations
// ----------

.slide {
  // Three Element Slide
  @include m(3) {
    @include createAnimation(slide, 750ms, 3, 5);
  }
}


.grow {
  // Four Element Grow
  @for $i from 1 through 5 {
    @include m($i) {
      @include createAnimation(grow, 500ms, $i, 3);
    }
  }
  // @include m(4) {
  //   @include createAnimation(grow, 500ms, 4, 3);
  // }
}