// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing     : border-box;
}

body {
  margin          : 0;
  font-family     : $font-stack-primary;
  font-size       : $base__font-size;
  line-height     : ($base__line-height / $base__font-size);
  background-color: $color-primary;
}

main {
  padding: em(15px);
  overflow: hidden;
}

a {
  text-decoration: none;
  color          : palette(grey);
}

ul {
  list-style  : none;
  padding-left: 0;
  margin      : 0;
}

img {
  max-width: 100%;
}

p {
  color: $color-secondary;
}


// Form Elements
// -------------

form {
  color: $color-accent;
}

fieldset {
  border : none;
  padding: 0;
  margin : em(20px) 0;
}

legend {
  @extend %text-content;
  @extend %border-outline;
  visibility    : hidden;
  position      : absolute;
  top           : -34px;
  left          : -1px;
  padding       : em(3px) em(7px);
  text-transform: uppercase;
  transition    : color $trns-duration--default;

  @include mq(med) {
    visibility: visible;
  }
}

select,
input,
textarea {
  @extend %text-content;
  background-color: transparent;
  transition      : border $trns-duration--default, outline $trns-duration--default;

  &:focus {
    @extend %border-outline;
    outline-offset: 0;
    // Style Validation only for required form elements.
    &:required {
      &:valid {
        border-color: $color-success;
      }

      &:invalid {
        border-color: $color-error;
      }
    }  
  }
}

option {
  background-color: $color-primary;
}