// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing     : border-box;
}

body {
  margin                 : 0;
  font-family            : $font-stack-primary;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// main {
//   padding-top: em(90px);

//   @include mq(med) {
//     padding-top: em(110px);
//   }
// }

a {
  text-decoration: none;
}

ul {
  list-style  : none;
  padding-left: 0;
  margin      : 0;
}

img {
  max-width: 100%;
}

p {
  color: $color-secondary;
}


// Form Elements
// -------------

form {
  @include mq(med) {
    align-self: center;
    margin-left: em(20px);
  }
}

fieldset {
  border : none;
  padding: 0;
  margin : em(20px) 0;
}

legend {
  @extend %text-content;
  visibility    : hidden;
  position      : absolute;
  top           : -34px;
  left          : -1px;
  padding       : em(3px) em(7px);
  text-transform: uppercase;
  transition    : color $trns-duration--default;

  @include mq(med) {
    visibility: visible;
  }
}

select,
input,
textarea {
  @extend %text-content;
  padding-bottom: 5px;   
  background-color: transparent;
  border          : none;
  border-bottom   : 1px solid transparent;
  transition      : box-shadow $trns-duration--default, border-color $trns-duration--default;

  &:focus {
    outline-offset: 0;
    outline: none;
    border-color: palette(blue);
    // Style Validation only for required form elements.
    &:required {
      &:valid {
        border-color: $color-success;
      }

      &:invalid {
        border-color: $color-error;
      }
    }  
  }

  &::placeholder {
    font-style: italic;
    color: palette(gray, light);
  }
}

option {
  background-color: $color-primary;
}