// ==========================================================================
// Base Extended Styles
// ==========================================================================

%typography-default {
  font-style    : normal;
  text-transform: none;
  letter-spacing: normal;
}