// ==========================================================================
// Extends
// ==========================================================================

%text-center {
  text-align: center;
}

%panel-default {
  padding: em(20px) em(20px) em(30px);
}

%panel-even {
  padding: em(20px);
}

%panel-only-top {
  padding-top: em(20px);
}

%panel-only-bot {
  padding-bottom: em(20px);
}

%flex-default {
  display  : flex;
  flex-wrap: wrap;
}