// ==========================================================================
// Flexbox
// ==========================================================================

.flex {
  display: flex;

  @include m(centered) {
    @extend .flex;
    justify-content: center;
    align-items    : center;
  }

  @include m(wrap) {
    @extend .flex;
    flex-wrap: wrap;
  }
}

.fb {
  @include m(100) {
    flex-basis: 100%;
  }
}

// Columns
// -------

.col {
  flex-grow     : 1;
  flex-direction: column;
  margin        : 0 $gutter;

  &-2 {
    @extend .col;
    @include mq(med) {
      flex-basis: per-line(2, $gutter);
    }
  }

  &-3 {
    @extend .col;
    @include mq(med) {
      flex-basis: per-line(3, $gutter);
    }
  }
}

#survey    {
  @extend .flex;
  $gutter: 20px;
  flex     : 1 per-line(2, $gutter);
  margin   : $gutter;
  flex-grow: 1;
}