// ==========================================================================
// Flexbox
// ==========================================================================

.flex {
  @extend %flex-default;

  @include m(centered) {
    @extend %flex-default;
    justify-content: center;
  }
}

.fb {
  @include m(100) {
    flex-basis: 100%;
  }
}

#survey    {
  @extend .flex;
  $gutter: 20px;
  flex     : 1 per-line(2, $gutter);
  margin   : $gutter;
  flex-grow: 1;
}

.info-box {
  @extend %hover-shadow;
  margin-top: em(20px);
  border-radius: $br;
  padding: em(15px);  

  @include e(stats) {
    border-radius: 0;
  }

  h3 {
    margin: 0;
    padding: em(10px);
    background-color: palette(red);
    color: palette(white);
    border-radius: $br;
  }

    img {
      margin-top: em(20px);
  }
}

.stats_value {
  font-weight: bold;
  font-style: italic;
  margin-left: em(5px);
}