// ROW - Purchase Info
// -------------------
#row-purchase-info {
  margin-top: em(75px);
}

.album-price {
  display: block;
  margin-bottom: em(30px, 48px);
  font-size: em(48px);

  .fa-usd-square {
    color: palette(green);
  }
}