// ROW - Purchase Info
// -------------------
#row-purchase-info {
  margin-top: em(75px);
}

.album-price {
  display: block;
  margin-bottom: em(30px, 48px);
  font-size: em(48px);

  .fa-usd-square {
    color: palette(green);
  }
}

// [SUBROW] Platforms
// ------------------
#row-platforms {
  position: absolute;
  max-width: em(450px);
  left: em(10px);
  right: em(10px);
  bottom: em(40px);
  margin: auto;
  transform: translate3d(0, 20px, 0);
  opacity: 0;
  transition: transform $trns-duration--med $cubic-bezier, opacity $trns-duration--med $cubic-bezier;
}