// ==========================================================================
// Page Footer
// ==========================================================================

footer {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : em(15px);

  p {
    margin: 0;
    color : palette(black);
    text-align: center;
    font-size: em(14px);
  }

  .social__platforms, p, #footer-controls {
    flex-basis: per-line(3, 0px);
  }
}

#footer-controls {
  text-align: right;
}

#top {
  display: inline-block;
  width  : 28px;
  height : 28px;
  opacity: .75;

  path {
    transition: fill $trns-duration--default;

    &:nth-of-type(2) {
      animation: bounce--alt 1.25s linear infinite;
    }
  }

  &:hover {
    cursor: pointer;
    path { fill: palette(green); }
  }
}
