// ==========================================================================
// Section [Album Information]
// ==========================================================================

#newAlbum {
  background: linear-gradient(to top, transparent 0%, white 100%),
              //linear-gradient(to bottom, transparent 0%, white 100%),
              linear-gradient(to right, transparent 90%, white 100%),
              linear-gradient(to left, transparent 90%, white 100%),
              url('#{$path--rel}/layout/bg-icon__section-ablum.png');
  background-position: top left;
  background-repeat  : no-repeat;
}

.album {
  @include e(platforms) {
    margin-bottom: em(50px);
  }

  @include e(formats) {
    @extend .flex;
    color: palette(gray);

    li {
      @extend .flex;
      flex-direction: column;
      flex          : 1 per-line(3, $gutter);
      align-items   : center;
      padding       : em(8px) em(15px);
      margin        : $gutter;
      border        : 1px solid transparent;
      border-radius : $br;
      transition    : box-shadow $trns-duration--default;

      &:hover {
        @extend %hover-shadow;
        cursor: pointer;
      }

      @include pseudo(before, 48px, 48px) {
        margin-bottom: em(10px, 22px);
      }
    }
  }
}