// ==========================================================================
// Section [About The Band]
// ==========================================================================

.about {
  margin-top: em(60px);

  img { max-width: 64px; }
}

#container {
  &-img-lead { order: -1; }
}